@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Story+Script&display=swap');

* {
    margin: 0px;
}

body {
    font-family: Delius;
    height: 100vh;
}
   

.backgroundimage {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -10;
    filter: blur(6px);
}

h1, h2, h3, h4 {
    font-family: "Akaya Kanadaka";
}

.header {
    color: rgb(218, 228, 225);
    background-color: rgba(53, 55, 48, 0.803);
    padding-bottom: 100px; 
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute;
    width: 100vw;
    top: 50%;
    transform: translateY(-50%);
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
 
}

.nav a {
    background-color: rgba(221, 223, 126, 0.749);
    color: whitesmoke;
}

.teams-page {
    background-color: rgb(239, 239, 143);
}

.teams {
    color: whitesmoke;
    background-color: rgba(53, 55, 48, 0.803);
    padding-bottom: 30px; 
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100vw
}

.sbimg img {
    width: 300px;
    height: 300px;
}

.sbimg {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.image-container {
    width: 16%;
}

