body {
    background-image: url(https://media.istockphoto.com/id/93460049/photo/softball-baseball-balls-and-batters-glove.jpg?s=2048x2048&w=is&k=20&c=gp52-a2Ln6EHvPVs67K32Ara3N2JWcIdoklX3gmGeM0=)
  
}